@import './commons.scss';

.father__background {
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: 100%;
  background-color: #f1f1f1;
}

.container {
  margin: 0 auto;
  display: flex;
  // justify-content: center;
  min-width: 240px;
  max-width: 1200px;
}
.content_center {
  /* margin: 0 auto; */
  /* min-height: 100vh; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.content_left {
  text-align: left;
  margin-left: auto;
  margin-right: 0;
}

.content_right {
  text-align: right;
  margin-left: 0;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-top: 15px;
  font-family: 'Quicksand', 'Source Sans Pro', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Arial', sans-serif;
  letter-spacing: normal;
  color: #2f2f2f;
  line-height: 141%;
  margin: unset;
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

hr {
  border: 1px solid #d9d9d9;
}

.radius {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 15px 0px;
}
.ant-form-item {
  margin-bottom: 0px;
}

@media (max-width: 570.98px) {
  button {
    width: 100%;
  }
}

p {
  font-family: 'Quicksand', 'Source Sans Pro', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Arial', sans-serif;
  font-size: 0.88rem;
  color: #2f2f2f;
  margin: 0;
  word-break: break-word;
}

.row:before,
.row:after {
  content: ' ';
  display: table;
}
.row:after {
  clear: both;
}

.column {
  display: grid;
  grid-gap: 15px;
  margin-top: 15px;
  grid-template-columns: 1fr;
}

.column-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.column-2 {
  display: grid;
  grid-template-columns: 1fr 200px;
}
.column-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 200px;
}

.column-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 200px;
}
.column-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 200px;
}

@media only screen and (max-width: 550px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5 {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 551px) and (max-width: 750px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5 {
    grid-template-columns: 1fr 1fr;
  }
}
// @media (min-width: 551) and (max-width: 800px) {
//   .column-5 {
//     grid-template-columns: 1fr 1fr;
//   }
// }

.icon {
  margin: 20px;
  font-size: 30px;
}

.onVerifity {
  color: #1890ff;
}

.icon {
  margin: 20px;
  font-size: 30px;
}
