@import './commons.scss';

.father__background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #f1f1f1;
}

.container {
  margin: 0 auto;
  display: flex;
  // justify-content: center;
  min-width: 250px;
  max-width: 1200px;
}
.content_center {
  /* margin: 0 auto; */
  /* min-height: 100vh; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

// html {
//   line-height: $mainLineHeight;
//   font-size: $mainFontSize;
//   color: $mainFontColor;
//   height: 100%;
//   @media screen and (max-width: $desktopWidth) {
//     font-size: 16px;
//   }
//   @media screen and (max-width: $tableWidth) {
//     font-size: 15px;
//   }
//   @media screen and (max-width: $phoneWidth) {
//     font-size: 14px;
//   }
// }

// body {
//   font-family: $mainFont;
//   font-size: $mainFontSize;
//   font-weight: $mainFontWeight;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   margin: 0;
//   padding: 0;
//   background-color: #f7f7f7;
// }

// *,
// *:before,
// *:after {
//   box-sizing: border-box;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-top: 15px;
  font-family: 'Quicksand', 'Source Sans Pro', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Arial', sans-serif;
  letter-spacing: normal;
  color: #2f2f2f;
  line-height: 141%;
  margin: unset;
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

hr {
  border: 1px solid #d9d9d9;
}
// input,
// textarea,
// select,
// button {
//   border: 1px solid $border-base;
// }

// a {
//   text-decoration: none;
// }

// ul,
// li {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
// }

// section,
// .section {
//   position: relative;
//   padding: 40px 0;
//   @media screen and (max-width: $desktopWidth) {
//     padding: 36px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 28px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 20px 0;
//   }
// }

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
//   margin: 0 auto;
// }

// .wrapper-content {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
//   &.wrapper-content--fixed {
//     margin-top: 80px;
//   }
// }

// .container {
//   width: 100%;
//   flex: 0 0 auto;
//   position: relative;
//   max-width: $desktopWidth;
//   margin: 0 auto;
//   @media screen and (max-width: $smDesktopWidth) {
//     max-width: $tableWidth;
//   }
//   @media screen and (max-width: $tableWidth) {
//     max-width: $phoneWidth;
//   }
//   @media screen and (max-width: $phoneWidth) {
//     max-width: $smPhoneWidth;
//   }
// }

.radius {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 15px 0px;
}
.ant-form-item {
  margin-bottom: 0px;
}

button {
  width: 200px;
  position: relative;
  // left: 50%;
  // transform: translate(-50%, 0);
}

@media (max-width: 570.98px) {
  button {
    width: 100%;
  }
}

p {
  font-family: 'Quicksand', 'Source Sans Pro', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Arial', sans-serif;
  font-size: 0.88rem;
  color: #2f2f2f;
  margin: 0;
  word-break: break-word;
}

.row:before,
.row:after {
  content: ' ';
  display: table;
}
.row:after {
  clear: both;
}

.column {
  display: grid;
  grid-gap: 15px;
  margin-top: 15px;
  grid-template-columns: 1fr;
}

.column-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.column-2 {
  display: grid;
  grid-template-columns: 1fr 200px;
}
.column-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 200px;
}

.column-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 200px;
}
.column-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 200px;
}

@media only screen and (max-width: 550px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5 {
    grid-template-columns: 1fr;
  }
}
// @media (min-width: 551) and (max-width: 800px) {
//   .column-5 {
//     grid-template-columns: 1fr 1fr;
//   }
// }

.icon {
  margin: 20px;
  font-size: 30px;
}

.onVerifity {
  color: #1890ff;
}

.icon {
  margin: 20px;
  font-size: 30px;
}
